Create Database [ContactsDB_N_TierArchitecture]
go


USE [ContactsDB_N_TierArchitecture]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 5/13/2026 10:28:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK__Contacts__5C6625BBE2F19656] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/13/2026 10:28:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[PhoneCode] [nvarchar](10) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CountryID], [ImagePath]) VALUES (1, N'Fathalla', N'Abu-Hadhoud', N'msaqer@gmail.com', N'02388388', N'Amman Building 33', CAST(N'1977-06-11' AS Date), 1, N'C:\Photos\Mohammed AbuHadhoud.JPG')
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CountryID], [ImagePath]) VALUES (2, N'Khaled2', N'Salem2', N'Khaled22@gmail.com', N'08277722222', N'ADrees32222', CAST(N'2023-02-12' AS Date), 1, NULL)
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CountryID], [ImagePath]) VALUES (4, N'Mohammed', N'Alian', N'Ali@gmail.com', N'1234', N'New Address', CAST(N'2022-12-06' AS Date), 1, N'C:\Photos\Mohammed AbuHadhoud.JPG')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName], [Code], [PhoneCode]) VALUES (1, N'United States', NULL, NULL)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [Code], [PhoneCode]) VALUES (2, N'United Kingdom', NULL, NULL)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [Code], [PhoneCode]) VALUES (3, N'Canada', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unq_Email]    Script Date: 5/13/2026 10:28:36 AM ******/
ALTER TABLE [dbo].[Contacts] ADD  CONSTRAINT [unq_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [inx_FirstName_LastName]    Script Date: 5/13/2026 10:28:36 AM ******/
CREATE NONCLUSTERED INDEX [inx_FirstName_LastName] ON [dbo].[Contacts]
(
	[FirstName] ASC,
	[LastName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [inx_CountryName]    Script Date: 5/13/2026 10:28:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [inx_CountryName] ON [dbo].[Countries]
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_Countries]
GO


